body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6f6f6;
  color: #333;
}

.container {
  margin-top: 50px;
}

.table {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead th {
  background-color: #343a40;
  color: #fff;
  padding: 15px;
  border: none;
}

.table td,
.table th {
  padding: 15px;
  border: 1px solid #ddd;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  max-width: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-footer button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer button:hover {
  background-color: #0056b3;
}

.button,
.button-view-score,
.acknowledge-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover,
.button-view-score:hover,
.acknowledge-button:hover {
  background-color: #0056b3;
}

.search-input {
  position: relative;
  margin-bottom: 20px;
}

.search-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-input::after {
  content: '\1F50D';
  font-size: 20px;
  color: #aaa;
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-input::after:hover {
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.active {
  background-color: #0056b3;
}

.status-image {
  width: 50px;
  height: 50px;
}

.positive p {
  color: green;
}

.negative p {
  color: red;
}

.neutral p {
  color: gray;
}


